<html>
<title>home page</html>
<head>
</head>
<body bgcolor=purple>
<center>
<h1><font color="white"><u>Nyros Employee Manegement</u></font></h1>
<%= link_to "Attendance", employees_path %>
</center>
</body>
</html>
