<%= form_for(@emp_detail) do |f| %>
  <% if @emp_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emp_detail.errors.count, "error") %> prohibited this emp_detail from being saved:</h2>

      <ul>
      <% @emp_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
